<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Awards</h1>


<!-- begin service -->
<div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12" style="font-size:14px">   <!-- style="font-size:20px" can be used -->
        <div class="title_content">
            <div class="text_content">Awards</div>
            <div class="clear"></div>
        </div>


<ol>
<li>Young Scientist Award, 2021 IEEE International Conference on Electronics Technology (ICET 2021), May 2021.</li>

<li>Second-Class Prize of the National Award for Technological Invention, China, Dec. 2019. The most important award for all researchers in China.
<br>2019年12月，获国家技术发明二等奖（3/6）。 </li>

<li>First-Class Prize of the Science and Technology (Technological Invention) Award, Chinese Institute of Electronics, China, Dec. 2018.
<br>2018年12 月，获中国电子学会科学技术奖（技术发明类）一等奖（3/6）。</li>

<li>Excellent Ph.D. Thesis Award, Chinese Institute of Electronics, China, Dec. 2016. The most important award for all Ph.D. students in China.
<br>2016年12 月，获中国电子学会优秀博士学位论文奖。</li>

<li>Excellent Ph.D. Thesis Award, Beijing Institute of Technology, China, Jun. 2016.
<br>2016 年6月，获北京理工大学优秀博士学位论文奖。</li>

<li>Second-Class Prize of the Ministerial Level Science and Technology Progress Award, China, Dec. 2014.
<br>2014年12月，获省部级科技进步二等奖（4/10）。</li>

<li>Second-Class Award of the Beijing College-Student Electronics Design Contest, China, 2008.</li>
</ol>


     </div>
</div><!-- End Services -->


<!-- service 2 -->
<div class="clear"></div>
<!--<div class="border-list"></div>-->

<div class="row">
<div class="col-md-12" style="font-size:14px">
   <!-- <div class="bottom-p">-->
        <div class="title_content">
            <div class="text_content">Honors</div>
            <div class="clear"></div>
        </div>

<ol>
<li>Five-time recipient of First-Class Scholarship for Ph.D. Students, Beijing Institute of Technology, China, 2010-2016.</li>

<li>Scholarship for Overseas Study Program, China Scholarship Council, 2013-2015.</li>

<li>Four-time recipient of First-Class Scholarship, Beijing Institute of Technology, China, 2005-2009.</li>

<li>Four-time recipient of Excellent Student, Beijing Institute of Technology, China, 2005-2009.</li>

<li>National Scholarship, Ministry of Education of the People’s Republic of China, China, 2006.</li>
</ol>



</div>
</div>
<!-- end service 2 -->

<div class="clear"></div>
</div>
<!-- End .profile --> 