<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Contact</h1>

<!-- begin service -->
<div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12" style="font-size:14px">   <!-- style="font-size:20px" can be used -->
        <div class="title_content">
            <div class="text_content">Contact Information</div>
            <div class="clear"></div>
        </div>

<ul>
                        <p> <font color="black">
                        Qing Shen <br />
                        Processer <br />
                        School of Information and Electronics <br />
                        Beijing Institute of Technology<br /><br />
                        </font></p>

			<p> <font color="black">
                        沈清 <br />
                        教授，博导 <br />
                        北京理工大学 信息与电子学院 <br />
                        国家级高层次青年人才 <br />
			国家级重点项目技术首席<br /><br />
                        </font></p>

                        <!--<li><span class="span-info"><i class="glyphicon glyphicon-map-marker"></i> Address:</span> </li>-->
                        <li><span class="span-info"><i class="glyphicon glyphicon-envelope"></i> Email:</span> <font color="black">  qing-shen@outlook.com </font></li>
                        <li><span class="span-info"><i class="glyphicon glyphicon-envelope"></i> Email:</span> <font color="black">  q.shen@bit.edu.cn </font></li>
                        <!--<li><span class="span-info"><i class="glyphicon glyphicon-phone"></i> Phone:</span> +123 456 789 111</li>-->
                        <li><span class="span-info"><i class="glyphicon glyphicon-globe"></i> Website:</span> <a href="https://qing-shen.github.io/">https://qing-shen.github.io/</a> </li>
                            
                            
                            
                        <!--<li><span class="span-info"><i class="glyphicon glyphicon-comment"></i> Skype:</span> brown-smith-skype</li>
                        <li><span class="span-info"><i class="glyphicon glyphicon-thumbs-up"></i> G. Drive:</span> brown-s-gm@gmail.com</li>
                        <li><span class="span-info"><i class="glyphicon glyphicon-unchecked"></i> Skydrive:</span> brown-s-sk@hotmail.com</li>-->
                    </ul>


     </div>
</div><!-- End Services -->


<!-- service 2 -->
<div class="clear"></div>
<!--<div class="border-list"></div>-->

<div class="row">
<div class="col-md-12">
   <!-- <div class="bottom-p">-->
        <div class="title_content">
            <div class="text_content">Links</div>
            <div class="clear"></div>
        </div>


                        <a href="{{site.google}}" target="_blank"><img src="images/favicon/GoogleScholar_2.jpg" width="60" height="60" alt="" /></a>
                        <a href="https://www.researchgate.net/profile/Qing_Shen17" target="_blank"><img src="images/favicon/Researchgate.jpg" width="60" height="60" alt="" /></a>
                       &nbsp; &nbsp; &nbsp; &nbsp;
                       <a href="http://www.bit.edu.cn/" target="_blank"><img src="images/favicon/BIT_2.jpg" width="60" height="60" alt="" /></a>
                       <a href="https://www.sheffield.ac.uk/" target="_blank"><img src="images/favicon/UOS_2.jpg" width="60" height="60" alt="" /></a>
                        <div class="clear"></div>

                    <p> </p>


</div>
</div>
<!-- end service 2 -->

<div class="clear"></div>
</div>
<!-- End .profile --> 
