<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Homepage</h1>

<!-- begin service -->
<div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12" style="font-size:14px">   <!-- style="font-size:20px" can be used -->
        <div class="title_content">
            <div class="text_content">News</div>
            <div class="clear"></div>
        </div>

<video src="hantian_ppt.mp4" autoplay="autoplay" controls="controls">
</video>



     </div>
</div><!-- End Services -->



<div class="clear"></div>
</div>
<!-- End .profile --> 