<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Hantian Wu's Page</h1>

<!-- begin service -->
<div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12" style="font-size:14px">   <!-- style="font-size:20px" can be used -->
        <div class="title_content">
            <div class="text_content">Video</div>
            <div class="clear"></div>
        </div>

<video src="/hantianwu/Hantian_ppt.mp4" poster="/hantianwu/Poster.jpg" autoplay="autoplay" controls="controls">
</video>

<p>  <font color="black">
For the <a href="/hantianwu/SAM2020_Paper.pdf">manuscript</a> and the <a href="/hantianwu/SAM2020_Slides.pdf">slides</a>, please click the corresponding links.
</font> </p>




     </div>
</div><!-- End Services -->



<div class="clear"></div>
</div>
<!-- End .profile --> 