<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Profile - About Me</h1>

<p>  <font color="white"> 
I am always looking for self-motivated Ph.D and Master students who are interested in my research areas. Please drop me an email with your CV ( q.shen@bit.edu.cn ). 
</font> </p>

<!-- begin service -->
<div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12">
        <div class="title_content">
            <div class="text_content">My Services 1</div>
            <div class="clear"></div>
        </div>



<ol>
<li><strong>Jan. 2020:</strong> I received the Second-Class Prize of the National Award for Technological Invention, China. <br>
    2020年1月，获国家技术发明二等奖。
</li>

<li><strong>Dec. 2018:</strong> I received the First-Class Prize of the Science and Technology (Technological Invention) Award from the Chinese Institute of Electronics.<br>
    2018年12月，获中国电子学会科学技术奖（技术发明类）一等奖。
</li>

<li><strong>Dec. 2016:</strong> I received the Excellent Ph.D.  Thesis Award from Chinese Institute of Electronics, China. (The most important award for all Ph.D. students in China)<br>
    2016年12月，获中国电子学会优秀博士学位论文奖。
</li>

<li><strong>Jun. 2016:</strong>  I received the Excellent Ph.D.  Thesis Award from Beijing Institute of Technology, China.<br>
    2016年6 月，获北京理工大学优秀博士学位论文奖。
</li>
</ol>



<h2 class="has-black-color has-text-color">Short Bio</h2>



<p>I am currently an Associate Professor with School of Information and Electronics, Beijing Institute of Technology, China. I received the B.S. degree <span lang="EN-US">(with the highest honor)</span> in 2009 and Ph.D. degree <span lang="EN-US">(with the highest honor) </span> in 2016, both from Beijing Institute of Technology, Beijing, China. Then I worked as a Post-Doc, and later become an Associate Professor in Beijing Institute of Technology. From 2013 to 2015 and from 2018 to 2019, I was a visiting researcher with the Department of Electronic and Electrical Engineering, University of Sheffield, Sheffield, UK.</p>

<p>I was the recipient of two Excellent Ph.D. Thesis Awards from both the Chinese Institute of Electronics and the Beijing Institute of Technology in 2016. I was also the recipient of Second-Class Prize of the National Award for Technological Invention in 2020, the First-Class Prize of the Science and Technology (Technological Invention) Award from Chinese Institute of Electronics in 2018, and the Second-Class Prize of the Ministerial Level Science and Technology Progress Award in 2014.</p>

<p>I have more than 10 years of professional experience in system and algorithm design, implementation (through FPGA and DSP), and debugging. I have received three Science and Technology Progress Awards and hold more than 20 patents.</p>

     </div>
</div><!-- End Services -->



<!-- service 2 -->
<div class="clear"></div>
<div class="border-list"></div>

<div class="row">
<div class="col-md-12">
    <div class="bottom-p">
        <div class="title_content">
            <div class="text_content">My Services 2</div>
            <div class="clear"></div>
        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapse_tabs">
                            Making Money
                            <i class="glyphicon glyphicon-chevron-up" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapse_tabs">
                            Easy to Customize
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapse_tabs">
                            Moving Let Us Help
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i>  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<!-- end service 2 -->

<div class="clear"></div>
</div>
<!-- End .profile --> 