<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Homepage</h1>

<p>  <font color="black">
I am always looking for self-motivated Ph.D and Master students who are interested in my research areas. Please drop me an email with your CV.
</font> </p>

<!-- begin service -->
<div class="clear"></div>
<div class="row" id="services">  <!-- style="font-size:20px" can be used -->
	<div class="col-md-12">
        <div class="title_content">
            <div class="text_content">News</div>
            <div class="clear"></div>
        </div>

<ol>
<li><strong>Jan. 2020:</strong> I received the Second-Class Prize of the National Award for Technological Invention, China. <br>
    2020年1月，获国家技术发明二等奖。
</li>

<li><strong>Dec. 2018:</strong> I received the First-Class Prize of the Science and Technology (Technological Invention) Award from the Chinese Institute of Electronics.<br>
    2018年12月，获中国电子学会科学技术奖（技术发明类）一等奖。
</li>

<li><strong>Dec. 2016:</strong> I received the Excellent Ph.D.  Thesis Award from Chinese Institute of Electronics, China. (The most important award for all Ph.D. students in China)<br>
    2016年12月，获中国电子学会优秀博士学位论文奖。
</li>

<li><strong>Jun. 2016:</strong>  I received the Excellent Ph.D.  Thesis Award from Beijing Institute of Technology, China.<br>
    2016年6 月，获北京理工大学优秀博士学位论文奖。
</li>
</ol>


     </div>
</div><!-- End Services -->


<!-- service 2 -->
<div class="clear"></div>
<!--<div class="border-list"></div>-->

<div class="row">
<div class="col-md-12">
   <!-- <div class="bottom-p">-->
        <div class="title_content">
            <div class="text_content">Short Bio</div>
            <div class="clear"></div>
        </div>

<p><font color="black">
I am currently an Associate Professor with School of Information and Electronics, Beijing Institute of Technology, China. I received the B.S. degree (with the highest honor) in 2009 and Ph.D. degree (with the highest honor) in 2016, both from Beijing Institute of Technology, Beijing, China. Then I worked as a Post-Doc, and later become an Associate Professor in Beijing Institute of Technology. From 2013 to 2015 and from 2018 to 2019, I was a visiting researcher with the Department of Electronic and Electrical Engineering, University of Sheffield, Sheffield, UK.<br />

<br />

I was the recipient of two Excellent Ph.D. Thesis Awards from both the Chinese Institute of Electronics and the Beijing Institute of Technology in 2016. I was also the recipient of Second-Class Prize of the National Award for Technological Invention in 2020, the First-Class Prize of the Science and Technology (Technological Invention) Award from Chinese Institute of Electronics in 2018, and the Second-Class Prize of the Ministerial Level Science and Technology Progress Award in 2014. <br />

<br />

I have more than 10 years of professional experience in system and algorithm design, implementation (through FPGA and DSP), and debugging. I have received three Science and Technology Progress Awards and hold more than 20 patents.

</font> </p>


</div>
</div>
<!-- end service 2 -->

<div class="clear"></div>
</div>
<!-- End .profile --> 