<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Members</h1>

<p>  <font color="black">
I am always looking for self-motivated Ph.D and Master students who are interested in my research areas. Please drop me an email with your CV.
<br> Email:  q.shen@bit.edu.cn<br>
 cc(抄送):   qing-shen@outlook.com </p>
</font> </p>

<!-- begin service -->
<div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12" style="font-size:14px">   <!-- style="font-size:20px" can be used -->
        <div class="title_content">
            <div class="text_content">Staff</div>
            <div class="clear"></div>
        </div>

<ol>
<li>吴科江 Kejiang Wu, Assistant Professor</li>
<li>沈黎 Li Shen, Post-Doctoral Research Fellow</li>
</ol>

     </div>
</div><!-- End Services -->

<!-- begin service -->
<div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12" style="font-size:14px">   <!-- style="font-size:20px" can be used -->
        <div class="title_content">
            <div class="text_content">Ph.D Students</div>
            <div class="clear"></div>
        </div>

<ol>
<li>张则翔 Zexiang Zhang</li>
<li>吴函天 Hantian Wu</li>
<li>王闽 Min Wang</li>
<li>李康宁 Kangning Li</li>
<li>廖晨汐 Chenxi Liao</li>
<li>鲍宇峥 Yuzheng Bao</li>
<li>杨家鸣 Jiaming Yang</li>
<li>赵云鹏 Yunpeng Zhao</li>
<li>顾天元 Tianyuan Gu</li>
<li>姜宇翔 Yuxiang Jiang</li>
<li>杨泽军 Zejun Yang</li>
<li>马元昊 Yuanhao Ma</li>
<li>李文博 Wenbo Li</li>
<li>杨梓圣 Zisheng Yang</li>
<li>张子骏 Zijun Zhang</li>
<li>刘丹旭 Danxu Liu</li>
<li>季冉 Ran Ji</li>
</ol>

     </div>
</div><!-- End Services -->


<!-- service 2 -->
<div class="clear"></div>
<!--<div class="border-list"></div>-->

<div class="row">
<div class="col-md-12" style="font-size:14px">
   <!-- <div class="bottom-p">-->
        <div class="title_content">
            <div class="text_content">Master Students</div>
            <div class="clear"></div>
        </div>

<ol>
<li>刘奕维 Yiwei Liu</li>
<li>翟辰浩 Chenhao Zhai</li>
<li>叶建斌 Jianbin Ye</li>
<li>李昱瑶 Yuyao Li</li>
<li>丁思凡 Sifan Ding</li>
<li>孔佑浩 Youhao Kong</li>
<li>岳宇巍 Yuwei Yue</li>
<li>周海川 Haichuan Zhou</li>
<li>苏思瑞 Sirui Su</li>
<li>彭宇宁 Yuning Peng</li>
<li>王懿哲 Yizhe Wang</li>
</ol>


</div>
</div>
<!-- end service 2 -->

<!-- service 2 -->
<div class="clear"></div>
<!--<div class="border-list"></div>-->

<div class="row">
<div class="col-md-12" style="font-size:14px">
   <!-- <div class="bottom-p">-->
        <div class="title_content">
            <div class="text_content">Former Members</div>
            <div class="clear"></div>
        </div>

<ol>
<li>杨子翔 Zixiang Yang (2018~2024), Ph.D. student</li>
<li>吴科江 Kejiang Wu (2022~2024), Post-Doctoral Research Fellow</li>
<li>袁诗蕾 Shilei Yuan (2020~2023), Master student</li>
<li>刘妍 Yan Liu (2020~2023), Master student</li>
<li>马悦 Yue Ma (2020~2023), Master student</li>
<li>王雨威 Yuwei Wang (2020~2023), Master student</li>
<li>梁艺宝 Yibao Liang (2016~2022), Ph.D. student</li>
<li>黄怡琳 Yilin Huang (2019~2022), Master student</li>
<li>朱春 Chun Zhu (2019~2022), Master student</li>
<li>李鹏程 Pengcheng Li (2019~2022), Master student</li>
<li>吕丹杨 Danyang Lv (2019~2022), Master student</li>
<li>张翔 Xiang Zhang (2019~2022), Master student</li>
<li>刘超 Chao Liu (2018~2021), Master student</li>
<li>李彦欣 Yanxin Li (2018~2021), Master student</li>
<li>段越 Yue Duan (2018~2021), Master student</li>
</ol>


</div>
</div>
<!-- end service 2 -->

<div class="clear"></div>
</div>
<!-- End .profile --> 
